<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Spryker</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href=""><i class="fa fa-sign-out fa-2"></i></a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left top-navbar">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">Sales</a>
                <ul class="dropdown">
                    <li><a href="">Orders</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">CMS</a></li>
            <li><a href="#">Category</a></li>
            <li class="has-dropdown">
                <a href="javascript:void(0)" data-dropdown="Development">Development</a>
                <ul class="dropdown">
                    <li><a href="">OMS</a></li>
                    <li><a href="">API</a></li>
                    <li><a href="">Git</a></li>
                    <li><a href="">Dependency</a></li>
                    <li><a href="">Styleguide</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Maintenance</a>
                <ul class="dropdown">
                    <li><a href="">Packages</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
